@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 22%, 67%);
    font-family: 'Karla', sans-serif;
}

li {
    list-style: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 636px;
    box-shadow: 0 2px 4px #333;
}

header {
    background-color: hsl(204, 43%, 93%);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 40px;
}

header h2 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 30px;
}

header h3 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 17px;
}

header p {
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    line-height: 25px;
}


/* grid */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* grid left */

.grid .left {
    background-color: hsl(179, 56%, 43%);
    border-bottom-left-radius: 6px;
    padding: 40px 29px 31px 36px;
}

.grid .left h3 {
    color: hsl(204, 43%, 93%);
    margin-bottom: 20px;
}

.grid .left .cost {
    color: hsl(204, 43%, 93%);
    font-size: 41px;
    font-weight: 700;
}

.grid .left .cost span {
    font-size: 18px;
    margin-left: 15px;
    font-weight: 100;
    display: block;
    text-align: center;
    margin-top: -35px;
    color: hsl(204, 43%, 93%) !important;
}

.grid .left p {
    margin-top: 18px;
    margin-bottom: 28px;
    color: hsl(204, 43%, 93%);
}

.grid .left a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: hsl(71, 73%, 54%);
    padding: 21px 66px;
    color: hsl(204, 43%, 93%);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    box-shadow: 0 2px 4px #333;
}


/* grid right */

.grid .right {
    background-color: hsl(179, 72%, 43%);
    border-bottom-right-radius: 6px;
    padding: 40px;
}

.grid .right h3 {
    color: hsl(204, 43%, 93%);
    margin-bottom: 26px;
}

.grid .right ul {
    color: hsl(204, 43%, 93%);
    font-weight: 200;
}

.grid .right ul li {
    margin-bottom: 6px;
}


/* Mobile */

@media (max-width:768px) {
    .main-box {
        width: 357px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .grid .left {
        border-bottom-left-radius: 6px;
    }
    .grid .right {
        border-bottom-right-radius: 6px;
    }
}